<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List stores and transactions</title>
</head>
{% load static %}
<link rel="stylesheet" defer href={% static 'style_list.css' %}>

<body>
    <main class="container">
        <div class="title">
            <h1>
                List of transactions by store:</h1>
        </div>
        <ul class="div-list">
            {% for dbs in db %}
            <li class="list">
                <h3 class="store-name">{{dbs.name}}</h3>
                {% for list in dbs.list_order %}
                <div class="div-transaction">
                    <h2>Transaction:</h2>
                    <h3 class="transaction">Type: {{list.type}}</h3>
                    <h3 class="transaction-nature">Nature: {{list.nature}}</h3>
                    <h3 class="value-transaction">Value: R$ {{list.value}}</h3>
                </div>
                {% endfor %}
                <h3 class="store-balance">Balance: R$ {{dbs.balance}}</h3>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>